.header h1 {
  font-size: 100px;
  font-weight: 100;
  font-family: "Helvetica Neue", sans-serif, fantasy;
  text-align: center;
  padding-top: 50px;
}
.header h2 {
  font-size: 60px;
  font-weight: 100;
  font-family: "Helvetica Neue", sans-serif, fantasy;
  text-align: center;
  color: black;
}
h3 {
  font-size: 25px;
  font-weight: 100;
  font-family: "Helvetica Neue", sans-serif, fantasy;
  text-align: center;
  border-bottom: 1px solid black;
  width: 700px;
  margin: 0 auto;
  color: #82CAFA;
  padding-top: 50px;
  padding-bottom: 50px;
}
p {
  font-size: 25px;
  font-weight: 100;
  font-family: "Helvetica Neue", sans-serif, fantasy;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 50px;
}
ul {
  font-size: 23px;
  font-weight: 100;
  font-family: "Helvetica Neue", sans-serif, fantasy;
  text-align: center;
  list-style-type: none;
  padding-bottom: 50px;
}
li {
  display: inline;
  border: 1px solid black;
  padding: 15px;
  margin: 10px;
  padding-top: 15px;
  background-color: #82CAFA;
  color: white;
}
.skills p {
  padding-bottom: 10px;
}
.contact h3 {
  padding-top: 10px;
}
a {
  text-decoration: none;
  color: #000000;
}
a:hover {
  text-decoration: underline;
  font-style: italic;
  color: #82CAFA;
}
.header {
  background: white url(images/3.jpg) top center repeat-x;
}
body {
  background-color: #AAF2FF;
}
.tagline, .skills, .contact{
  background-color: white;
  border: 1px solid black;
  margin-top: 20px;
}
.contact h3 {
  padding-top: 50px;
}
.header {
  border: 1px solid black;
}
